.qodo
node_modules
frontend\node_modules
frontend/dist


frontend/dist/bundle.js
frontend/dist/bundle.js.LICENSE.txt
frontend/dist/index.html
indexbackup.html
frontend/dist/bundle.js.map

backend/python_services/crewai_service/test2.py
backend/src/estest.js
backend/python_services/crewai_service/logs/connector_service.log
backend/python_services/crewai_service/logs/crewai_service.log
backend/python_services/crewai_service/logs/service_pids.txt
backend/python_services/crewai_service/testllm.py
backend/a.tmp

.vscode/settings.json
